<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>College API</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/custom.css"  media="screen,projection"/>

</head>

<body>
    <nav class="nav-wrapper light-blue">
        <div class="container">
            <a href="/" class="brand-logo">College API</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="active"><a href="/doc">Documentation</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="active"><a href="/doc">Documentation</a></li>
    </ul>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <h1 class="header">Documentation</h1>
        <div>
          <div class="col s5 m10">
            <h5 class="header col s12 light">Welcome to the College API Documentation page. This site explains how to access college data.</h5>
          </div>
          <br>
          <h5 class="header col s12 dark">Authentication         <i class="material-icons">fingerprint</i> </h5>
          <div class="col s5 m10">
            <p>Authentication is not needed to explore the College API. This is an open API.</p>
          </div>

          <hr>

        <h4 class="header col s12 dark">Requests</h4>
        <div class="col s5 m10">
          <p>Root HTTP Request: <code
              style="background-color: lightblue">https://www.collegesapi/herokuapp.com/api/v1</code></p>
        </div>
        <br>
        <h5 class="header col s12 light">Colleges</h5>
        <div class="col s5 m10">
          <div class="col s5 m10" style="background-color: lightblue"><code>GET /colleges/all</code></div>

          <p style="  font-style: italic;">Returns all colleges.</p>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>college-name</td>
                <td>string</td>
                <td>Name of college</td>
              </tr>
              <tr>
                <td>type</td>
                <td>string</td>
                <td>Type of college (private, public, ...)</td>
              </tr>
              <tr>
                <td>city</td>
                <td>string</td>
                <td>Location of college (city)</td>
              </tr>
              <tr>
                <td>state</td>
                <td>string</td>
                <td>Location of college (state)</td>
              </tr>
              <tr>
                <td>academic-calendar</td>
                <td>string</td>
                <td>Term system run by college</td>
              </tr>
              <tr>
                <td>campus-setting</td>
                <td>string</td>
                <td>Nature of college surroundings</td>
              </tr>
            </tbody>
          </table>
          <br>
          <h5 class="header col s12 light">Example Query</h5>
          <div class="col s5 m10" style="background-color: lightblue"><code class="col s5 m10"><a href="https://collegesapi.herokuapp.com/api/v1/colleges/all" 
          target="_blank" style="color: black; overflow-wrap: break-word; word-wrap: break-word">https://collegesapi.herokuapp.com/api/v1/colleges/all</a></code></div>
        </div>

        <br>

        <h6 class="header col s12 light">Getting a specific college</h6>
        <p>You can access specific colleges by following its endpoint:</p>
        <div class="col s5 m10" style="background-color: lightblue"><code>GET /colleges/{college-name}</code></div>
        
        <br>

        <h6 class="header col s12 light">Filtering Colleges</h5>
          <p>You can get collges that have specific properties by these parameter inputs:</p>
        <div class="col s5 m10">
          <div class="col s5 m10" style="background-color: lightblue"><code>GET /colleges/parameter/{value}</code></div>
          <table>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>type</td>
                <td>string</td>
                <td>Colleges with the specified type are returned</td>
              </tr>
              <tr>
                <td>city</td>
                <td>string</td>
                <td>Colleges with the specified city are returned</td>
              </tr>
              <tr>
                <td>state</td>
                <td>string</td>
                <td>Colleges with the specified state are returned</td>
              </tr>
              <tr>
                <td>calendar</td>
                <td>string</td>
                <td>Colleges with the specified calendar are returned</td>
              </tr>
              <tr>
                <td>setting</td>
                <td>string</td>
                <td>Colleges with the specified setting are returned</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>





    <footer class="page-footer white" style="background-color:white; padding-top: 10px; margin-top: 30px">
        <div class="footer-copyright white">
          <div class="container">
            <p style="color: black; text-align: center">Made by Tobenna</p>
          </div>
        </div>
    </footer>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/requests.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
     });
    </script>
</body>

</html>